<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{hasAccess}">
    <f:then>
        <div class="t3-new-content-element-wizard-window">
            <div class="container mt-3">
                <div class="form-wizards-element">
                    <div class="form-check form-check-type-icon-toggle">
                        <input type="checkbox" class="form-check-input"
                               id="pagetreefilterhideunused" checked="checked">
                        <label class="form-check-label" for="pagetreefilterhideunused">
                            <span class="form-check-label-icon">
                                <span class="form-check-label-icon-checked">
                                    <core:icon identifier="actions-check" alternativeMarkupIdentifier="inline" />
                                </span>
                                <span class="form-check-label-icon-unchecked">
                                    <core:icon identifier="empty-empty" alternativeMarkupIdentifier="inline" />
                                </span>
                            </span>
                            <span class="form-check-label-text">
                                <f:translate key="wizard_hide_unused_elements"/>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="t3-new-content-element-wizard-inner">
                {renderedTabs -> f:format.raw()}
            </div>
        </div>
    </f:then>
    <f:else>
        <p><f:translate key="wizard_error_message"/></p>
    </f:else>
</f:if>
