.pagetreefilter-highlighted {
    fill: #0078e6 !important;
    fill-opacity: 0.1;
    stroke-width: 1px;
    stroke: #d7d7d7;
}

.pagetreefilter-highlighted.node-over,
.pagetreefilter-highlighted.node-selected {
    fill-opacity: 0.3;
}

.pagetreefilter-wizard .modal-body {
    background-color: #fafafa;
    padding: 0;
}

.pagetreefilter-wizard .nav-tabs {
    padding: 0.75rem 0.75rem 0;
    background: 0 0;
}

.pagetreefilter-wizard .panel-body {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0;
}

.pagetreefilter-wizard .media {
    margin-top: 15px;
}

.pagetreefilter-wizard-item {
    width: 50%;
}

.pagetreefilter-wizard .panel-tab {
    border: 0;
    box-shadow: none;
}