.pagetreefilter-wizard .modal-body {
    padding: 0;
}

.pagetreefilter-wizard .nav-tabs {
    padding: 0.75rem 0.75rem 0;
    background: 0 0;
}

.pagetreefilter-wizard .panel-body {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0;
}

.pagetreefilter-wizard .media {
    margin-top: 15px;
}

.pagetreefilter-wizard-item {
    width: 50%;
}

.pagetreefilter-wizard .panel-tab {
    border: 0;
    box-shadow: none;
}

.t3-page-ce-element:has(>.t3-page-ce-body > .element-preview > .element-preview-content > .tx-pagetreefilter-highlight-ce) {
    border: 10px solid #6daae0;
}